{% extends 'navigation.html' %} {% block title %}
<title>Analisis</title>
{% endblock %} {% block content %}
<div
  class="w-11/12 md:container mt-10 mx-auto md:w-5/6 flex items-center justify-center"
>
  <div
    class="grid grid-cols-2 gap-x-10 flex items-center justify-center h-screen"
  >
    <div class="col-span-1 me-10">
      <div class="">
        <img
          src="{{ url_for('static', filename='images/mobile.png') }}"
          alt="Login Image"
          class="object-cover"
        />
      </div>
    </div>
    <div class="col-span-1 flex flex-col items-center justify-center h-full">
      <div class="max-w-[552.47px]">
        <h1 class="text-[#40444E] text-4xl font-bold mb-2">
          Pilih Masukan Data
        </h1>
        <p class="text-justify text-stone-600 mb-10 text-base">
          Ulasana memungkinkan untuk memasukkan teks langsung atau mengunggah
          data dalam format CSV.
        </p>
        <div class="flex gap-x-5">
          <a
            href="{{ url_for('analysisInputText') }}"
            class="w-2/5 text-center bg-[#0A905D] font-semibold text-white py-2.5 rounded-[10px]"
          >
            Input Teks
          </a>
          <form
            id="analysisForm"
            class="flex"
            action="/analysis"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="flex-auto p-6"></div>
            <div class="flex-initial w-72 p-10 content-end relative">
              <input
                type="file"
                class="mt-4 mb-2"
                name="file"
                id="file"
                accept=".csv"
              />
              <button
                type="submit"
                id="submitBtn"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Submit
              </button>
              {% if error %}
              <div class="mb-4 text-red-500">{{ error }}</div>
              {% endif %} {% if result %}
              <div class="mb-4 text-red-500">{{ result }}</div>
              <div class="pr-2">
                <img
                  src="{{ url_for('static', filename='images/result.png') }}"
                  alt="warning"
                  width="500"
                />
              </div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
